// Put your custom SCSS code here

.custom-box {
    background-color: hsl(225, 15%, 16%);
    border: 1px solid hsl(224, 10%, 21%);
    padding: 1rem;
    text-align: center;
}

.logo-light-background {
    background-color: hsl(0, 0%, 100%);
}